<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC  
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"  
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">  
  
<hibernate-configuration>  
    <session-factory>  
        <property name="hibernate.hbm2ddl.auto">create</property>  
        <property name="hibernate.show_sql">true</property>  
    	<mapping class="ec.com.birobid.model.Empresa"/> 
    	<mapping class="ec.com.birobid.model.Sucursal"/> 
        <mapping class="ec.com.birobid.model.Usuario"/>
        
        <mapping class="ec.com.birobid.model.Login"/>  
        <mapping resource="hibernate.mapping.xml" />  
    </session-factory>  
</hibernate-configuration> 